@import '../../base/base';
.widget-content-area, .dataTables_wrapper {
  padding: 0;
}

div.dataTables_wrapper button:hover {
  -webkit-transform: none;
  transform: none;
}

.form-control , .dv-search{
  border: 1px solid #D8D8D8;
}

.dv-search{

    input{
        padding: 4px 10px;
    }

    a{

    }

    button{

    }
}

.inv-list-top-section {
  margin: 20px 21px 20px 21px;
}

.tr-featured{
    background: #fffaee;
}

.featured{
    svg {
        width: 20px !important;
        height: 20px !important;
        transition: color 0.3s ease;
        color: #D8D8D8 !important;
        cursor: pointer;

        &:hover{
            color:#b80000 !important;
        }

    }
    .checked {
        color: #b80000 !important; /* Color cuando está marcado */
        fill: #b80000 !important;
    }
    input[type="checkbox"] {
        display: none; /* Ocultar el checkbox */
    }
}

div.dataTables_wrapper div.dataTables_length {
  align-self: center;

  label {
    margin-bottom: 0;
    margin-right: 15px;
  }
}

.dataTables_wrapper .dataTables_length select.form-control {
  margin: 0;
}

div.dataTables_wrapper div.dataTables_filter {
  align-self: center;

  svg {
    top: 10px;
  }

  label {
    margin: 0;
    margin-right: 15px;
  }

  input {
    margin: 0;
  }
}

.table-responsive {
  overflow-x: auto;
  overflow-y: hidden;
}

table.dataTable {
  margin: 0 !important;
}

table tr td{
    border-bottom: 1px solid #e0e6ed !important;
}

.table-hover > tbody > tr:hover td {
    background-color: #f4f6ff !important;
    color: #515365;
}

.table > {
  thead {
    border-top: none;
    border-bottom: none;

    > tr > th {
      text-transform: initial;
      font-weight: 600;
      border-top: none;
      border-right: none;
      border-left: none;
      padding-top: 0;
      padding-bottom: 0;
      padding-left: 0;
      -webkit-transition: all 0.1s ease;
      transition: all 0.1s ease;
      padding: 10px 21px 10px 21px;
      font-weight: 600;
      font-size: 14px;
      white-space: nowrap;

      &:first-child {
        &:before, &:after {
          display: none;
        }
      }

      &:last-child {
        &:before, &:after {
          display: none;
        }
      }
    }
  }

  tbody {
    &:before {
      display: none;
    }

    > tr {
      > td {
        &:first-child {
          border-top-left-radius: 8px;
        }

        padding: 0;
        padding: 10px 21px 10px 21px;
        white-space: nowrap;

        .inv-number {
          color: $primary;
          cursor: pointer;
          font-size: 16px;
          text-align: left;
        }

        .user-name {
          color: $dark;
          font-size: 14px;
          margin-bottom: 0;
          overflow: hidden;
          text-align: left;
          text-overflow: ellipsis;
          white-space: nowrap;
          word-wrap: break-word;
        }

        .inv-email {
          color: #506690;
          font-size: 14px;
          margin-bottom: 0;
          margin-top: 0;
          overflow: hidden;
          text-align: left;
          text-overflow: ellipsis;
          white-space: nowrap;
          word-wrap: break-word;

          svg {
            width: 17px;
            height: 17px;
            vertical-align: text-bottom;
            color: $secondary;
            stroke-width: 1.5;
          }
        }

        .inv-date svg {
          width: 17px;
          height: 17px;
          vertical-align: text-top;
          color: $info;
          stroke-width: 1.5;
        }

        .dropdown {
          .dropdown-toggle svg {
            stroke-width: 1px;
          }

          &.show .dropdown-toggle svg {
            stroke-width: 1px;
            color: #7367f0;
          }

          &:not(.custom-dropdown-icon):not(.custom-dropdown) .dropdown-menu {
            padding: 9px !important;
          }
        }
      }

      &:last-child > td .dropdown:not(.custom-dropdown-icon):not(.custom-dropdown) .dropdown-menu, &:nth-last-child(2) > td .dropdown:not(.custom-dropdown-icon):not(.custom-dropdown) .dropdown-menu {
        top: -94px !important;
      }

      &:last-child > td .dropdown:not(.custom-dropdown-icon):not(.custom-dropdown) .dropdown-menu.show, &:nth-last-child(2) > td .dropdown:not(.custom-dropdown-icon):not(.custom-dropdown) .dropdown-menu.show {
        top: -90px !important;
      }

      > td .dropdown:not(.custom-dropdown-icon):not(.custom-dropdown) .dropdown-menu a.dropdown-item svg {
        width: 16px;
        height: 16px;
        margin-right: 7px;
        vertical-align: text-top;
      }
    }
  }
}

/*
    Inv List Bottom Section
*/

.inv-list-bottom-section {
  padding: 15px;
}

.user-select-assigned{
  border-radius: 5px;
    color: #515365;
    border-color: #dadada;
    box-shadow: 0px 0px 10px 0px #0000001f;
    padding: 2px 1px;
    cursor: pointer;
}


.page-item .page-link:hover {
    background: #191e3a;
    color: #bfc9d4;
  }

  .page-link {
    margin-right: 5px;
    border-radius: 8px;
    background: rgba(0, 23, 55, 0.08);
    border: none;
    color: #888ea8;
    height: 33px;
    width: 33px;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    &:focus {
      box-shadow: none;
    }
  }

  .page-item {
    &.disabled .page-link {
      background: transparent;

      svg {
        color: #888ea8;
      }
    }

    &:first-child .page-link {
      border-radius: 8px;
      padding: 0;
      height: 33px;
      width: 33px;
      display: inline-flex;
      justify-content: center;
      align-items: center;

      svg {
        width: 17px;
      }
    }

    &:last-child .page-link {
      border-radius: 8px;
      padding: 0;
      height: 33px;
      width: 33px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
    }

    &.next:not(.disabled) .page-link, &.previous:not(.disabled) .page-link {
      background: #1b2e4b;
    }

    &.next:not(.disabled) .page-link svg, &.previous:not(.disabled) .page-link svg {
      color: #fff;
    }

    &:last-child .page-link svg {
      width: 17px;
    }

    &.active .page-link {
      background-color: $primary;
    }
  }

  .infotable{
    padding-top: 0.85em;
    white-space: normal;
    color: $primary;
    font-weight: 600;
    border: 1px solid #e0e6ed;
    display: inline-block;
    padding: 10px 16px;
    border-radius: 6px;
    font-size: 13px;
  }

  .listpagination .pagination{
    float: right;
    margin-bottom: 0px;
  }

.listforpage{
    max-width: 70px;
    padding: 5.5px 10px !important;
}

.daterequest{
  padding: 5.5px 30px 5.5px 10px;
  max-width: 180px;
  font-size: 13px;
  background-image: url('/assets/img/calendar-icon.svg');
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 15px;


}

a.dropdown-item:hover {
    color: $primary !important;
    background: rgb(248, 248, 248);
}

.as-to{

    a{
        color: #b80000 !important;
        font-weight: 600 !important;

        &:hover{
            color: white !important;
        }
    }
}

.btn-newquote{
    display: inline-block;
    color: #fff !important;
    background-color: #b80000 !important;
    border-color: #b80000 !important;
    box-shadow: 0 10px 20px -13px rgba(192, 0, 0, 0.59);
    font-weight: normal;
    white-space: normal;
    word-wrap: break-word;
    border-radius: 4px;
    padding: 6.59px 9px;
}

.btn-clearfilter{
    border-radius: 50px;
    background-color: #F8F8F8;
    font-weight: bold;
    padding: 4px 10px 4px 8px;
  svg{
    width: 17px;
    height: 17px;
    margin-top: -3px;
    margin-right: -2px;
  }

  span{
    font-size: 13px;
  }

}

.form-search{

    .dropdown-toggle{
        padding: 4px 25px 4px 10px;
        max-width: 140px;
        text-align: start;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .assigned-to{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.source-badge{
    text-transform: uppercase;
    border-radius: 30px;
    padding: 4px 8px;
    border: 1px solid;
    font-weight: bold;
    font-size: 11px;
}

.sb-color-ppc{
    color: #6200EE;
}

.sb-color-hou{
    color: #CC0000;
}

.sb-color-seo{
    color: #4CBB17;
}

.sb-color-soc{
    color: #1877F2;
}

.sb-color-ref{
    color: #FFCC00;
}

.sb-color-oth{
    color: #595959;
}

.sb-color-agt{
    color: #FF5F1F;
}

// new Inquiry
.newinquiry {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(black, .5);
    z-index: 1040;
    overflow-y: auto;
    display: none;

    .form-control:disabled {
        color: #777777;
    }

    .dropdown-menu {
        width: 100%;
    }

    &__close {
        position: absolute;
        right: 0;
        top: 0;
        background-color: transparent;
        padding: 0;
        border: none;
        transform: translate(50%, -50%);
        width: 32px;
        height: 32px;

        &:hover {

            svg circle {
                fill: black;
            }

            svg path {
                stroke: white;
            }
        }

        svg {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    &__reset {
        background-color: #F5F5F5;
        padding: 4px 12px;
        font-size: 12px;
        color: #B80000;
        text-align: center;
        border-radius: 10rem;
        border: none;
        font-weight: 700;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
    }

    &__content {
        background-color: white;
        width: 90%;
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 1.5rem;
        border-radius: 10px;
        padding: 24px;
        box-shadow: 0 0 10px rgba(black, .1);
        position: relative;
        margin-bottom: 1.5rem;

        &.__loading {
            opacity: .75;
            pointer-events: none;
        }

        .form-label {
            margin-bottom: .2rem;
        }
    }

    &__title {
        border-bottom: 2px solid #FFCC00;
        padding-bottom: 12px;
        margin-bottom: 20px;
    }

    &__block {
        border: 1px solid #D8D8D8;
        padding: 16px;
        border-radius: 8px;
    }

    &__org-name {
        position: relative;

        ul {
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            background-color: white;
            list-style: none;
            border: 1px solid #D8D8D8;
            padding: 0;

            li {
                padding: 4px;
                cursor: pointer;

                &:hover {
                    background-color: #ebebeb;
                }
            }
        }
    }

    &__contacts {
        background-color: #FAE6E6;
        color: #B80000;
        font-weight: 700;
        border-radius: 10rem;
        padding: 4px 10px;
        display: flex;
        align-items: center;
        gap: 4px;

        &__action {
            border: none;
            background-color: transparent;
            padding: 0;
        }
    }

    .dropdown-toggle .newinquiry__source span {
        padding: 0;
    }

    &__source {
        display: flex;
        align-items: center;
        font-size: 14px;
        color: #42403E;
        gap: 8px;

        span {
            font-size: 12px;
            display: block;
            padding: 4px 0;
            text-align: center;
            border-width: 1px;
            border-style: solid;
            border-radius: 10rem;
            font-weight: 700;
            width: 41px;
        }

        &__sep {
            height: 1px;
            background-color: #D8D8D8;
            width: calc(100% - 2rem);
            margin: 8px auto;
        }
    }

    &__submit {
        color: white;
        border: none;
        width: 100%;
        margin-top: 20px;
        text-align: center;
        padding: 12px;
        border-radius: 4px;
        background-color: #B80000;
        font-size: 16px;
    }

    &__thanks {
        background-color: white;
        border-radius: 10px;
        position: absolute;
        padding: 32px;
        box-shadow: 0 0 10px rgba(black, .1);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        &__content {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;

            h2 {
                margin-top: 16px;
                margin-bottom: 16px;
            }

            p {
                font-size: 15px;
                color: #42403E;
                margin-bottom: 24px;
            }

            a {
                background-color: #B80000;
                border-radius: 4px;
                border: none;
                text-align: center;
                padding: 9px 20px;
                color: white;
                font-size: 16px;
            }
        }

    }

    &__attachments {
        display: flex;
        width: 100%;
        border: 1px dashed #B80000;
        border-radius: 4px;
        background-color: white;
        // align-items: center;

        &.__loading {
            opacity: .5;
            pointer-events: none;
        }

        &__drop {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: relative;
            gap: 16px;
            padding: 32px 16px;
            flex: 1;

            &.__dropping {
                background-color: rgba(#B80000, .15);
            }

            svg {
                flex-shrink: 0;
            }

            p {

                span {
                    color: #2196F3;
                    text-decoration: underline;
                }
            }

            input {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                cursor: pointer;
                opacity: 0;
            }
        }

        &__list {
            padding: 16px;
            // border: 1px dashed #B80000;
            // border-top: none;
            // border-radius: 0 0 4px 4px;
            // background-color: white;
            margin-bottom: 0;

            &.__loading {
                opacity: .5;
                pointer-events: none;
            }

            li {
                background-color: #515264;
                border-radius: 4px;
                margin-bottom: 8px;
                list-style: none;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 4px 8px;
                gap: 16px;

                &:last-child {
                    margin-bottom: 0;
                }

                div {
                    display: flex;
                    flex-direction: column;

                    span {
                        color: white;
                    }
                }

                button {
                    padding: 0;
                    border-radius: 50%;
                    background-color: #E0E7EE;
                    border: none;
                }
            }
        }
    }

}
