// - utils
.loading {
    opacity: .5;
    pointer-events: none;
}
// - notifications
.notice {
    background-color: #F5F5F5;
    padding: 12px 20px;
    display: flex;
    align-items: center;
    gap: 12px;
    border-radius: 4px;
    flex: 1;

    p {
        font-family: 'Kanit';
        font-size: 13px;
        color: #999999;
        letter-spacing: 1px;
        margin-bottom: 0;
    }

    &.__blue {
        border-left: 2px solid #0A6AB7;
    }
}

// - modal
.j-modal {
    position: fixed;
    z-index: 2000;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(black, .25);

    &__content {
        border-radius: 10px;
        background-color: white;
        padding: 40px;
        width: 95%;
        max-width: 600px;
        position: relative;
        filter: drop-shadow(0 0 10px #00000026);

        h1 {
            text-align: center;
            font-size: 23px;
            font-family: 'Kanit';
            display: flex;
            flex-direction: column;
            gap: 16px;
            align-items: center;
            margin-bottom: 24px;
        }

        .__close {
            position: absolute;
            top: 0;
            right: 0;
            width: 32px;
            height: 32px;
            border-radius: 50%;
            background-color: #F5F5F5;
            border: none;
            transform: translate(50%, -50%);
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    &__actions {
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: center;
        margin-top: 24px;
    }
}

// stars
.content-stars {
    display: flex;
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

// - buttons
%btn-action {
    padding: 9px 20px;
    border-radius: 4px;
    text-align: center;
    border: none;
    font-size: 16px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.btn {

    &__primary {
        @extend %btn-action;
        background-color: #B80000;
        color: white;
    }
    &__secondary {
        @extend %btn-action;
        border: 1px solid #D8D8D8;
        background-color: #F5F5F5;
        color: #161515;
    }
    &__tertiary {
        @extend %btn-action;
        border: 1px solid #B80000;
        background-color: white;
        color: #B80000;
    }
}

// Badges
.badge-light-won {
    color: #1D813A !important;
    background-color: #E9F6ED !important;
    border: 1px solid #E9F6ED !important;
}

.badge-light-stalled {
    color: #68C0FF !important;
    background-color: #EEF8FF !important;
    border: 1px solid #EEF8FF !important;
}

.badge-light-success {
    color: #6200EE !important;
    background-color: #EFE6FD !important;
    border: 1px solid #EFE6FD !important;
}

// other
[x-cloak] {
    display: none;
}

// - Quotations: Generate Quote Form
.quote-generate {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #e0e6ed;

    .form-label {
        margin-bottom: 0.2rem;
    }

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;

        h4 {
            color: #3b3f5c;
            font-size: 17px;
            font-weight: 600;
            margin: 0;
            display: flex;
            align-items: center;
            gap: 4px;

            img {
                width: 28px;
            }
        }

        button {
            width: 32px;
            height: 32px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: none;
            border-radius: 50%;

            &.__reverse {
              transform: rotateX(180deg);
            }
        }
    }

    &__body {
        border-top: 1px solid rgba(#515365, .25);
        margin-top: 1rem;
        padding-top: 1rem;
        display: flex;
        flex-direction: column;

        &__detail {
            display: flex;
            gap: 24px;
            border-bottom: 1px solid #D8D8D8;
            margin-bottom: 24px;
            padding-bottom: 24px;

            &:last-child {
                margin-bottom: 0;
                padding-bottom: 0;
                border-bottom: none;
            }

            .__index {
                background-color: #F5F5F5;
                font-weight: 500;
                color: #CC0000;
                font-family: 'Kanit';
                display: flex;
                align-items: center;
                justify-content: center;
                width: 24px;
                border-radius: 4px;
            }

            .__form {
                flex: 1;

                &__subtitle {
                    color: #CC0000;
                    font-family: 'Kanit';
                    font-size: 13px;
                    margin-bottom: 12px;
                    letter-spacing: 2px;
                    text-transform: uppercase;
                }

                .__concepts {
                    border-top: 1px solid #D8D8D8;
                    margin-top: 12px;
                    padding-top: 12px;
                    margin-bottom: 8px;
                    display: flex;
                    flex-direction: column;
                    gap: 12px;

                    &__add {
                        background-color: white;
                        border: 1px solid #B80000;
                        border-radius: 4px;
                        font-size: 14px;
                        padding: 8px 16px;
                        color: #B80000;
                        font-weight: 700;
                    }

                    &__remove {
                        // width: 24px;
                        // flex-basis: 24px;
                        flex: 0;

                        button {
                            border-radius: 4px;
                            background-color: #FAE6E6;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            border: none;
                            height: 100%;
                        }
                    }
                }
            }

            .__actions {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 8px;

                button {
                    width: 32px;
                    height: 48px;
                    border: none;
                    border-radius: 100000px;

                    &.__add {
                        background-color: #D3EAFD;
                    }

                    &.__remove {
                        background-color: #FAE6E6;
                    }
                }
            }
        }
    }

    &__confirm {
        margin-top: 24px;
        display: flex;
        gap: 12px;

        .__actions {
            display: flex;
            gap: 12px;
            // flex: 1;

            button {
                border-radius: 2px;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 12px;
                font-size: 15px;
                font-weight: 700;
                border: none;
                padding: 12px 24px;

                &.__email {
                    background-color: #EFE6FD;
                    color: #6200EE;
                }

                &.__pdf {
                    background-color: #FAE6E6;
                    color: #B80000;
                }
            }
        }
    }
}

// - DEALS
.deals {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .form-label {
        margin-bottom: .25rem;
    }

    &__actions {
        display: flex;
        justify-content: space-between;

        &__options {
            display: flex;
            align-items: center;
            gap: 32px;

            .form-check {
                margin-bottom: 0;
            }

            button {
                font-size: 16px;
                font-family: 'Kanit';
                text-transform: uppercase;
                padding: 10px 16px;
                border: none;
                border-bottom: 2px solid #D8D8D8;
                color: #999999;
                background-color: transparent;

                &.__active {
                    color: #161515;
                    border-bottom: 2px solid #B80000;
                    pointer-events: none;
                }
            }
        }

        &__filters {
            display: flex;
            gap: 12px;

            .__filters {
                border: 1px solid #D8D8D8;
                background-color: white;
                border-radius: 4px;
                display: flex;
                gap: 12px;

                &__button {
                    padding: 14px 12px;
                    background-color: transparent;
                    border: none;
                    display: flex;
                    align-items: center;
                    height: 100%;
                    gap: 12px;

                    svg.__inverted {
                        transform: rotateY(180deg);
                    }
                }

                &__content {
                    display: flex;
                    gap: 12px;
                    align-items: center;
                    padding-right: 12px;

                    button {
                        padding: 8px 12px;
                        border: 1px solid #D8D8D8;
                        background-color: white;
                        border-radius: 4px;
                        display: flex;
                        text-align: center;
                        align-items: center;
                        justify-content: space-between;
                        gap: 12px;
                    }

                    .__btn {
                        color: #B80000;
                        font-weight: 700;
                        font-size: 13px;
                        background-color: #F5F5F5;
                    }

                    .__btn__clear {
                        background-color: #F5F5F5;
                        color: #1877F2;
                        display: flex;
                        align-items: center;
                        gap: 4px;
                        justify-content: center;
                        text-align: center;
                        font-size: 13px;
                        border-radius: 1000px;
                        padding: 4px 12px;
                        border: none;
                    }

                    .__field {
                        position: relative;

                        button {
                            font-size: 12px;
                            font-family: 'Kanit';
                            color: #42403E;
                            text-transform: uppercase;
                        }

                        ul {
                            border-radius: 4px;
                            background-color: white;
                            position: absolute;
                            top: calc(100% + 6px);
                            left: 0;
                            width: max-content;
                            padding-left: 0;
                            padding: 12px;
                            list-style: none;
                            border: 1px solid #D8D8D8;
                            margin-bottom: 0;
                            display: flex;
                            flex-direction: column;
                            gap: 10px;
                            z-index: 10;

                            li {

                                label {
                                    cursor: pointer;
                                    margin-bottom: 0;
                                    display: flex;
                                    align-items: center;
                                    gap: 8px;

                                    .form-check-label {
                                        display: flex;
                                        align-items: center;
                                        gap: 4px;
                                    }
                                }

                                ul {
                                    position: static;
                                    border: none;
                                    padding-top: 8px;
                                    padding-bottom: 4px;
                                    padding-left: 20px;
                                }
                            }

                            &.__rating {

                                .__stars {
                                    display: flex;
                                }

                                .__label {
                                    font-size: 14px;
                                    font-weight: 700;
                                    color: #42403E;
                                    line-height: 0;
                                }
                            }

                            &.__readiness {

                                .form-check-label span {
                                    display: inline-flex;
                                    border-width: 1px;
                                    border-style: solid;
                                    padding: 5px 8px;
                                    // width: 44px;
                                    border-radius: 1000px;
                                    // text-transform: lowercase;
                                    font-size: 10px;
                                    font-weight: 700;
                                    align-items: center;
                                    justify-content: center;
                                    text-align: center;
                                    line-height: 1;
                                }
                            }

                            &.__source {

                                ul li span {
                                    display: inline-flex;
                                    border-width: 1px;
                                    border-style: solid;
                                    padding: 5px 8px;
                                    width: 44px;
                                    border-radius: 1000px;
                                    text-transform: uppercase;
                                    font-size: 10px;
                                    font-weight: 700;
                                    align-items: center;
                                    justify-content: center;
                                    text-align: center;
                                    line-height: 1;
                                }
                            }

                        }

                    }
                }
            }

            .btn__primary {
                font-size: 13px;
                padding: 10px 16px;
                border: 1px solid #D8D8D8;
                background-color: #F5F5F5;
                color: #B80000;
            }
        }
    }

    &__board {
        display: flex;
        gap: 16px;

        &__col {
            // flex: 1;
            flex-grow: 1;
            // flex-shrink: 0;
            // flex-basis: 20%;
            display: flex;
            flex-direction: column;
            gap: 12px;
            width: 20%;
        }

        &__thead {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 16px 20px;
            border-radius: 4px;
            position: sticky;
            top: 72px;
            z-index: 2;

            &.__pending {
                background-color: #FFF2E8;
                border-left: 4px solid #EB6200;
            }

            &.__contacted {
                background-color: #FCF4D6;
                border-left: 4px solid #B28600;
            }

            &.__stalled {
                background-color: #EEF8FF;
                border-left: 4px solid #68C0FF;
            }

            &.__qualified {
                background-color: #D3EAFD;
                border-left: 4px solid #0A6AB7;
            }

            &.__quote_sent {
                background-color: #EFE6FD;
                border-left: 4px solid #6200EE;
            }

            &.__under_review {
                background-color: #FCF4D6;
                border-left: 4px solid #B28600;
            }

            &.__won {
                background-color: #E9F6ED;
                border-left: 4px solid #1D813A;
            }

            &.__lost {
                background-color: #FAE6E6;
                border-left: 4px solid #B80000;
            }

            // overview
            &.__inquiries {
                border-left: 4px solid #B80000;
                background-color: white;
            }

            &.__sent {
                border-left: 4px solid #0A6AB7;
                background-color: white;
            }
            &.__won_ov {
                border-left: 4px solid #1D813A;
                background-color: white;
            }
            &.__closing {
                border-left: 4px solid #6200EE;
                background-color: white;
            }

            .__info {
                display: flex;
                flex-direction: column;
                gap: 8px;
                flex: 1;

                &.__overview {
                    p {
                        font-size: 24px;
                        opacity: 1;
                    }
                }

                &__detail {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;
                }
            }

            h2 {
                font-size: 16px;
                color: #161515;
                margin-bottom: 0;
                font-weight: 400;
            }

            p {
                color: #161515;
                opacity: .6;
                text-transform: uppercase;
                letter-spacing: 1px;
                font-size: 14px;
                margin-bottom: 0;
                font-family: 'Kanit';
            }
        }

        &__filter {
            border-bottom: 1px solid #D8D8D8;
            padding-bottom: 8px;
            display: flex;
            justify-content: flex-end;
            position: relative;

            .__sort {
                font-size: 13px;
                display: flex;
                color: #999999;
                align-items: center;
                gap: 4px;
                background-color: transparent;
                border: none;
            }

            ul {
                padding-left: 0;
                list-style: none;
                display: flex;
                flex-direction: column;
                padding: 12px;
                gap: 8px;
                background-color: white;
                border: 1px solid #D8D8D8;
                border-radius: 4px;
                position: absolute;
                top: calc(100% + 4px);
                right: 0;

                button {
                    font-size: 13px;
                    color: #42403E;
                    border: none;
                    background-color: transparent;
                    width: 100%;
                    text-align: left;

                    &.__active {
                        color: #CC0000;
                    }

                    &:hover {
                        color: #CC0000;
                    }
                }
            }
        }

        &__cards {
            display: flex;
            flex-direction: column;
            gap: 12px;
        }

        &__card {
            background-color: white;
            box-shadow: 0 2px 4px 0 #00000026;
            border-radius: 8px;
            border: 1px solid #D8D8D8;
            padding: 12px;
            display: flex;
            flex-direction: column;
            gap: 8px;
            cursor: pointer;

            &.__flag, &.__bell {
                background-color: #FFFAEE;
            }

            &.__new {
                border: 1px solid #1877F2;

                h3 span {
                    color: #1877F2;
                }
            }

            .__dots-options {
                position: relative;
                ul {
                    position: absolute;
                    top: 0;
                    left: calc(100% + 8px);
                    border: 1px solid #D8D8D8;
                    padding: 12px !important;
                    background-color: white;
                    border-radius: 4px;
                    display: flex;
                    flex-direction: column;
                    gap: 12px;
                    li {
                        width: max-content;
                        button {
                            display: flex;
                            gap: 8px;
                            width: 100%;
                            border: none;
                            background-color: transparent;
                            color: #161515;
                            font-size: 13px;
                            font-family: 'Nunito Sans', sans-serif;;
                        }
                    }
                }
            }

            .__change-status {
                border: 1px solid #D8D8D8;
                background-color: white;
                border-radius: 4px;
                width: 20px;
                height: 16px;
                display: flex;
                gap: 3px;
                align-items: center;
                justify-content: center;
                &:hover, &.__active {
                    border-color: #595959;
                    background-color: #F5F5F5;
                    svg, svg * {
                        stroke: #595959;
                    }
                }
                svg {
                    flex-shrink: 0;
                }
                svg, svg * {
                    stroke: #D8D8D8;
                }
            }

            .__head {
                display: flex;
                align-items: center;
                justify-content: space-between;

                h3 {
                    color: #B80000;
                    font-size: 14px;
                    margin-bottom: 0;
                    font-weight: 400;
                    display: flex;
                    align-items: center;
                    gap: 8px;
                }

                ul {
                    display: flex;
                    list-style: none;
                    padding-left: 0;
                    margin-bottom: 0;
                }
            }

            .__body {
                display: flex;
                flex-direction: column;
                gap: 4px;

                h3 {
                    font-weight: 700;
                    font-family: 'Nunito sans';
                }

                h3, p {
                    color: #161515;
                    font-size: 14px;
                    margin-bottom: 0;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
            }

            .__foot {
                display: flex;
                align-items: center;
                justify-content: space-between;

                .__value_readiness {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                }

                .__value {
                    font-size: 12px;
                    color: #999999;
                    margin-bottom: 0;
                }

                .__readinesss {
                    font-weight: 700;
                    margin-bottom: 0;
                    padding: 2px 4px;
                    font-size: 10px;
                    border-radius: 8px;
                    &.__ready {
                        color: #4CBB17;
                        border: 1px solid #4CBB17;
                    }
                    &.__1_3_months {
                        color: #EB6200;
                        border: 1px solid #EB6200;
                    }
                    &.__budgeting {
                        color: #B28600;
                        border: 1px solid #B28600;
                    }
                }

                .__ago {
                    font-size: 12px;
                    margin-bottom: 0;
                    color: #999999;
                }
            }

            .__badge {
                border-radius: 4px;
                padding: 3px 8px;
                text-transform: uppercase;
                font-size: 10px;
                line-height: 100%;
                font-weight: 700;
                letter-spacing: 1px;

                &.__tier {
                    color: #B28600;
                    background-color: #FCF4D6;
                }
            }
        }
    }

    &__modal {
        background-color: white;
        padding: 32px;
        position: fixed;
        z-index: 1000000;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(black, .25);

        &__content {
            border-radius: 10px;
            background-color: white;
            padding: 40px;
            width: 95%;
            max-width: 600px;
            position: relative;
            filter: drop-shadow(0 0 10px #00000026);
            display: flex;
            flex-direction: column;
            gap: 24px;
            width: 95%;
            max-width: 450px;

            .__close {
                position: absolute;
                top: 0;
                right: 0;
                width: 32px;
                height: 32px;
                border-radius: 50%;
                background-color: #F5F5F5;
                border: none;
                transform: translate(50%, -50%);
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        &__messages {
            display: flex;
            flex-direction: column;
            gap: 24px;
        }

        &__heading {
            text-align: center;
            font-size: 23px;
            font-family: 'Kanit';
            display: flex;
            flex-direction: column;
            gap: 16px;
            align-items: center;
        }

        &__fields {
            display: flex;
            flex-direction: column;
            gap: 16px;

            .form-select {
                position: relative;
                height: 44px;
                cursor: pointer;

                > span {
                    display: inline-flex;
                    font-size: 12px;
                    font-weight: 700;
                    padding: 5px 8px;
                    border-radius: 4px;
                }

                ul {
                    position: absolute;
                    top: calc(100% + 4px);
                    left: 0;
                    width: 100%;
                    background-color: white;
                    padding-left: 0;
                    padding: 12px;
                    border-radius: 4px;
                    list-style-type: none;
                    display: flex;
                    flex-direction: column;
                    gap: 12px;
                    border: 1px solid #D8D8D8;
                    z-index: 5;

                    li {
                        cursor: pointer;
                    }

                    span {
                        display: inline-flex;
                        font-size: 12px;
                        font-weight: 700;
                        padding: 5px 8px;
                        border-radius: 4px;
                    }
                }
            }
        }

        &__actions {
            display: flex;
            gap: 10px;
            align-items: center;
            justify-content: center;
        }
    }
}

// - FLAG FOLLOW UP
.flag-followup {
    &__actions {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        padding: 8px 16px;
        border-radius: 4px;
        border: 1px solid #D8D8D8;
        background-color: white;
    }
    &__dropdown {
        position: relative;
        ul {
            position: absolute;
            top: calc(100% + 4px);
            right: 0;
            padding: 12px;
            border-radius: 4px;
            border: 1px solid #D8D8D8;
            background-color: white;
            list-style: none;
            z-index: 5;
            display: flex;
            flex-direction: column;
            gap: 12px;
            width: max-content;
            button {
                background-color: transparent;
                display: flex;
                align-items: center;
                gap: 8px;
                color: #161515;
                border: none;
                width: 100%;
            }
        }
    }
}

// - AGENDA
.agenda {
    &__button {
        border: 1px solid #D8D8D8;
        background-color: #F5F5F5;
        padding: 8px 16px;
        border-radius: 4px;
        display: flex;
        align-items: center;
        gap: 10px;
        span {
            font-weight: 700;
            font-size: 13px;
        }
        small {
            border-radius: 4px;
            background-color: #1877F2;
            font-weight: 700;
            font-size: 11px;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            line-height: 1;
            width: 18px;
            height: 18px;
        }
    }
    &__modal {
        .j-modal__content {
            max-width: 720px;
        }
        .agenda__modal__messages {
            overflow-y: auto;
            max-height: 70vh;
            // padding-left: 16px;
            // padding-right: 16px;
        }
        h1 {
            border-bottom: 2px solid #B80000;
            padding: 10px 16px;
        }
        &__messages {
            display: flex;
            flex-direction: column;
            gap: 24px;
        }
        &__group {
            display: flex;
            flex-direction: column;
            gap: 12px;
            &.__today {
                .agenda__modal__group__title {
                    color: #F47E27;
                }
            }
            &.__flagged {
                .agenda__modal__group__title {
                    color: #CC0000;
                }
            }
            &.__scheduled {
                .agenda__modal__group__title {
                    color: #0A6AB7;
                }
            }
            &__title {
                font-family: 'Kanit';
                font-weight: 500;
                font-size: 12px;
                text-transform: uppercase;
                display: flex;
                align-items: center;
                gap: 8px;
            }
            &__nodata {
                background-color: #F5F5F5;
                color: #999999;
                border-radius: 8px;
                padding: 12px 16px;
                text-align: center;
                font-size: 12px;
                font-weight: 400;
            }
            &__items {
                display: flex;
                flex-direction: column;
                gap: 8px;
            }
        }
        &__item {
            border-radius: 8px;
            padding: 16px;
            border: 1px solid #D8D8D8;
            display: flex;
            flex-direction: column;
            gap: 8px;
            // display: grid;
            // grid-template-columns: 1fr 1fr;
            // gap: 4px;
            // > div:nth-child(2), > div:nth-child(4) {
            //     justify-content: flex-end;
            // }
            &__group {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 8px;
                flex-wrap: wrap;
            }
            &__title {
                display: flex;
                align-items: center;
                gap: 12px;
                h3 {
                    color: #42403E;
                    font-weight: 700;
                    font-size: 14px;
                    margin-bottom: 0;
                    font-family: 'Nunito sans';
                }
                span {
                    text-transform: lowercase;
                    padding: 2px 8px;
                    border-radius: 4px;
                    font-size: 10px;
                    font-weight: 700;
                    &.__high {
                        background-color: #E9F6ED;
                        color: #1D813A;
                    }
                    &.__medium {
                        background-color: #FFF2E8;
                        color: #EB6200;
                    }
                    &.__low {
                        background-color: #FCF4D6;
                        color: #B28600;
                    }
                }
            }
            &__id {
                font-size: 14px;
                color: #B80000;
            }
            &__lead {
                display: flex;
                align-items: center;
                gap: 8px;
                strong {
                    font-weight: 400;
                    font-size: 14px;
                    color: #161515;
                }
                a {
                    font-size: 14px;
                    color: #999999;
                    pointer-events: none;
                }
            }
            &__date {
                display: flex;
                align-items: center;
                gap: 8px;
                span {
                    font-size: 14px;
                }
                &.__created {
                    span {
                        color: #999999;
                    }
                }
                &.__scheduled {
                    span {
                        color: #0A6AB7;
                    }
                }

                &.__past {
                    span {
                        color: #B80000;
                    }
                    svg, svg * {
                        stroke: #B80000;
                    }
                }
            }
        }
    }
}


// - STATISTICS
.stats {
    &__tabs {
        padding-left: 0;
        list-style: none;
        display: flex;
        li {
            button {
                padding: 10px 16px;
                font-family: 'Kanit';
                font-size: 16px;
                text-transform: uppercase;
                font-weight: 400;
                color: #161515;
                background-color: transparent;
                border: none;
                border-bottom: 2px solid #D8D8D8;
                &.__active {
                    border-color: #B80000;
                }
            }
        }
    }
    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__title {
        font-family: 'Kanit';
        font-size: 24px;
        color: black;
        font-weight: 400;
        margin-top: 24px;
        margin-bottom: 24px;
    }
    &__subtitle {
        font-family: 'Kanit';
        font-size: 20px;
        font-weight: 400;
        margin-bottom: 18px;
        color: black;
    }
    &__deals {
        display: flex;
        align-items: center;
        gap: 16px;
        flex-wrap: wrap;
        margin-bottom: 16px;
        .deals__board__thead {
            flex: 1;
            &.__shadow {
                box-shadow: 0 0 32px 8px rgba(0, 0, 0, .1);
            }
        }
    }
    &__deals__record {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .__item {
            display: flex;
            align-items: center;
            gap: 12px;
            &.__closing {
                .__item__number {
                    background-color: #E9F6ED;
                    color: #1D813A;
                }
            }
            &.__won {
                .__item__number {
                    background-color: #1D813A;
                    color: white;
                }
            }
            &.__lost {
                .__item__number {
                    background-color: #B80000;
                    color: white;
                }
            }
            &.__review {
                .__item__number {
                    background-color: #B28600;
                    color: white;
                }
            }
            &__number {
                width: 56px;
                height: 56px;
                border-radius: 50%;
                font-size: 20px;
                font-family: 'Kanit';
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                flex-shrink: 0;
            }
            &__title {
                font-family: 'Kanit';
                font-size: 16px;
                color: #161515;
                display: flex;
                line-height: 1;
            }
        }
    }
    [data-toggle="tooltip"] svg {
        width: 16px;
        height: 16px;
    }
}

.quotation-follow-up {
    background-color: #F5F5F5;
    border-radius: 12px;
    button.__add {
        padding: 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        border: none;
        background-color: transparent;
        font-weight: 600;
        color: #161515;
        font-size: #161515;
    }
    &__content {
        padding: 16px;
        padding-top: 0;
        .__sep {
            display: block;
            width: 100%;
            border-top: 1px solid #D8D8D8;
            margin-bottom: 16px;
        }
    }
}

.__contacted_via {
    background-color: #D3EAFD;
    color: #0A6AB7;
    font-size: 12px;
    display: inline-flex;
    gap: 4px;
    align-items: center;
    justify-content: center;
    padding: 5px 8px;
    border-radius: 4px;
    font-weight: 700;
}

.filter_dates {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 8px;

    .form-label {
        margin-bottom: .15rem;
    }

    button {
        padding-top: 8px;
        padding-bottom: 8px;
    }
}
