@use '../widgets/analytics';

.btn-newquote{
    color: #fff;
    background-color: #B80000;
    font-weight: normal;
    border-radius: 4px;
    padding: 11px 16px;
    border: none;
}

.dash_reports_filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
    margin-top: 16px;
    &_content {
        width: 320px;
    }
    &_dates {
        display: flex;
        // grid-template-columns: 1fr 1fr;
        gap: 8px;
    }
    .__input {
        width: calc(50% - 4px);
    }
}

.dash_tag_source {
    border-radius: 100px;
    padding: 2px;
    text-align: center;
    width: 43px;
    font-size: 12px;
}

.dash_field_select {
    position: relative;

    .form-select {
        cursor: pointer;
        width: 100%;
    }

    &_content {
        background-color: white;
        border: 1px solid #D8D8D8;
        border-radius: 4px;
        padding: 12px;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 5;
        width: max-content;
        display: none;
    }

    &_actions {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 16px;

        button {
            border: 1px solid transparent;
            text-align: center;
            font-size: 12px;
            padding: 1px 10px;
            border-radius: 4px;
            font-weight: 700;
        }

        .__apply {
            border-color: #B80000;
            color: white;
            background-color: #B80000;
        }

        .__clear {
            border-color: #D8D8D8;
            color: #B80000;
            background-color: #F5F5F5;
        }
    }
}

.dashboard_reports {

    .table {
        border-bottom: 1px solid #D8D8D8;
    }

    .table thead tr th {
        background-color: #F0F0F0;
        color: #B80000;
        border-bottom: 1px solid #D8D8D8;
    }

    .table:not(.dataTable) thead tr th {
        border-radius: 0;
    }

    .table tbody {

        tr:nth-child(even) {
            background-color: #F8F8F8;
        }
    }
}

.btn_restore_defaults {
    background-color: #F5F5F5;
    border: 1px solid #D8D8D8;
    border-radius: 100px;
    padding: 7px 12px;
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    color: #B80000;
}
